@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Kognigear";
        font-style: normal;
        src: url("/fonts/KogniGear.ttf") format("truetype");
    }
}
